:root {
    --dark-green: #0C1828;
    --light-green: #CED1D5;
    --beige: #DCD5C9;
  }
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--light-green)
}

.logo{
    font-family: kepler-std-display, serif;
    font-size: 2em;
    font-weight: semi-bold;
    color: var(--dark-green);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 0   2.5em;
    border-bottom: solid 3px var(--dark-green);
    margin: 0 5% 1.5em;
    height: 10vh;

}
video.bgvid {
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
}

.landing{
    width:100%;
    height:85vh;
    overflow: hidden;
    display: flex;

    align-items: center;
    position:relative; 

    margin-left: 5%;
}


.mobile-menu{
    
    margin-bottom: -5%;
    width: 10%;
    cursor: pointer;
    
}

hgroup h1{
    font-family: kepler-std-display, serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    font-size: 4em;
    color: var(--dark-green);

}
hgroup h2 {
    font-family: europa, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    color: var(--dark-green);
}

@media only screen and (max-width: 600px) {

    body{
        overflow-x:hidden;
    }

    .nav-header{
    height: 80vh;
    width:100%;
    margin-top: 20%;
    top:15vh;
    background-color: var(--dark-green);
    z-index: 1;
    border-radius:12px;

    transform: translateX(150%);
    transition:transform 0.5s ease-in;


    }


    .nav-links li{
        list-style: none;
        text-align: center;
        margin-top: 20%;
        opacity: 0;


      
        
    }
    .nav-links a{
    font-family: kepler-std-display, serif;;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 3.5em;
    color: var(--beige);
    
    padding: 0px 30px 0px 30px;
    word-wrap: normal;
    display: inline-block;
    }

   
  
}

.nav-active{
    transform:translateX(0%)
}

@keyframes navLinkFade{
    from{
        opacity:0;
        transform: translate(50px);

    }
    to{
        opacity:1;
        transform:translateX(0px);
    }
}
/* ==== SELECTED WORK ==== */

.selected-work{
    width: 100%;
    height: 75vh;
    background-color: var(--dark-green);
}

.selected-work h3{
    font-family: europa, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    color: var(--beige);
    margin: 0 5% 1.5em;
    padding-top: 10%;
    border-bottom: solid 3px var(--beige);

}

.work {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 5% 1.5em;
    border-bottom: solid 3px var(--beige);

    

}

a{
    text-decoration: none;
}
/* 
.work h2{
    font-family: europa, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    color: var(--beige);  
} */

.work h1{
    font-family: kepler-std-display, serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    font-size: 2.5em;
    color: var(--beige);

}

.work img{

    width: 7%;
}

/* ==== ABOUT MEE ==== */

.about-me {
    height: 90vh;
    margin: 0 5% 1.5em;
    margin-top: 25%;

}


.about-me h1{
    font-family: kepler-std-display, serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    font-size: 4em;
    color: var(--dark-green);
}

.about-me-flex{
    margin-top:5%;
}
.about-me p{
    font-family: europa, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    color: var(--dark-green);
}
.about-img{
    width:55%;
    border: 3px solid var(--dark-green);
}
/* ==== CONTACT ME ==== */
.contact-me {
    height: 100vh;
    margin: 0 5% 1.5em;


}
.contact-me h1{
    font-family: kepler-std-display, serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    font-size: 4em;
    margin-bottom: 5%;

    color: var(--dark-green);
}

.instagram {
    width: 5%;
}

.behance {
    width: 7%;
}

.twitter{
    width: 5%;
}

input {
    width: 100%;
    padding: 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .message {
    width: 100%;
    height: 100%;
  }


 span {
    font-family: europa, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em;
    color: var(--dark-green);
  }

 .contact-me  button {
    background-color: #F5F5F5; /* Green */
    border-color: var(--dark-green);
    border-radius: 5px;
    color: var(--dark-green);
    padding: 5px 12px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    width:100%;
  }
  #message{
      height:25vh;
  }

  .nav-social-media{
      margin-top:5%;
      width:100%;
  }
/* ================================================================================================ */

/* ==== Selected work page ==== */

.first-section{
    width:100%;
    height:90vh;
    overflow: hidden;
    /* display: flex; */
    margin-left: 5%;
}

.first-section h1{
    font-family: kepler-std-display, serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    font-size: 2.5em;
    color: var(--dark-green);
}

.first-section img {
    width:90%;
    margin-top:5%;

}
.first-section p{
    margin-top: 5%;
    font-family: europa, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em;
    width: 90%;
    color: var(--dark-green);
}

.first-section button{
    background-color: #F5F5F5; /* Green */
    border-color: var(--dark-green);
    border-radius: 5px;
    color: var(--dark-green);
    padding: 5px 12px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 5%;
    width:90%;
    height: 5%;
}

.my-role{
    width:100%;
    height:40vh;
    overflow: hidden;
    /* display: flex; */
    margin-left: 5%;
}
.my-role h1{
    font-family: kepler-std-display, serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    font-size: 2.5em;
    color: var(--dark-green);
}

.my-role p{
    padding-top: 5%;
    font-family: europa, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em;
    width: 90%;
    color: var(--dark-green);
}

.technologies{
    width:100%;
    height:30vh;
    overflow: hidden;
    /* display: flex; */
    margin-left: 5%;
}

.technologies h1{
    font-family: kepler-std-display, serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    font-size: 2.5em;
    color: var(--dark-green);
}

.technologies ul{
    padding-top: 5%;
    font-family: europa, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em;
    width: 90%;
    color: var(--dark-green);
    line-height: 140%;
}

.pagination{
    display: flex;

    align-items: center;
    justify-content: space-between;

    margin: 0 5% 5% 0%;
}

.pagination p{
    padding-top: 5%;
    font-family: europa, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em;
    width: 90%;
    color: var(--dark-green);
    text-align: center;
}

.pagination button{
    background-color: #F5F5F5; /* Green */
    border-color: var(--dark-green);
    border-radius: 5px;
    color: var(--dark-green);
    padding: 5px 12px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 5%;
    width:50%;
    height: 5%;
    margin-left: 5% ;
}

/* === TABLET LAYOUT INHERITS FROM MOBILE 600PX 980PX === */
@media only screen and (min-width: 600px) {
    .mobile-menu{
        display: none;
         
     }
     .nav-header {
         display: inline-block;
        background-color: transparent;
     }
         

     .nav-links{
         display: flex;
         justify-content: space-around;
     }

     .nav-links li{
         list-style: none;
     }
     .nav-links a{
        font-family: europa, sans-serif;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-size: 2em;
        color: var(--dark-green);
    
        padding: 0px 0px 0px 30px;
        word-wrap: normal;
        display: inline-block;
     }
     .work img{
        width:4%;
    }
   

     hgroup h1{
         font-size: 5em;
     }

     hgroup h2{
        font-size: 2em;
    }

    .selected-work h3{
        padding-top: 5%;
    }

    .about-me{
       
        margin-top: 10%;
        height:60vh;

    }
    .about-me-flex{
        display: flex;
        margin-top:2%;

    }
    .about-me img{
        width:25%;
    }

    .contact-me h1{
       margin-bottom:1%;
    }

 

    .first-section img {
        width:85%;
        margin-top:5%;
     
    
    }
    .float-left{
       float: left;
    }

    .my-role{
       
        height:30vh;
    }
    .my-role p{
        padding-top: 1%;
    }

    .technologies ul{
        padding-top: 1%;
    }
 
 

 
}



/* === DESKTOP LAYOUT INHERITS FROM MOBILE AND TABLET > 980PX === */
@media only screen and (min-width: 980px) {
    hgroup h1{
        font-size: 6em;
    }

    hgroup h2{
       font-size: 2.5em;
   }

   .about-me{
       
    margin-top: 5%;
 
}

.work img{
    width:3%;
}

  }
  