@font-face {
    font-family: 'Culture Bold';
    src: url('./fonts/Culture/other/culture-bold-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Culture Regular';
    src: url('fonts/Culture/other/culture-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Classico Regular';
    src: url('fonts/Classico/other/classico-webfont.woff') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Culture Regular', Arial, sans-serif;
    background-color: white;
    font-size: 120px;
}

/* All sections */
h2 {
    font-size: 0.48em;
    font-family: 'Classico Regular', Arial, sans-serif;
    margin: 0;
    left: 50%;
}

p {
    font-size: 0.2em;
}

.background {

    top: 0%;
    padding-left: 6%;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 782px) {
    body {
        overflow-x: hidden;
    }

    h2 {
        font-size: 0.24em;
        font-family: 'Classico Regular', Arial, sans-serif;
        margin: 0;
        left: 50%;
    }

}